.menu-container {
  position: relative;
}

.menu-btn {
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
  margin: 10px; /* Ajout de la marge par défaut */
  display: none; /* Masquer le bouton par défaut */
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #333;
  position: absolute;
  transition: transform 0.3s ease;
  border-radius: 2px;
}

.bar1 {
  top: 0;
}

.bar2 {
  top: 50%;
  transform: translateY(-50%);
}

.bar3 {
  bottom: 0;
}

.menu-open .bar1 {
  transform: translateY(50%) rotate(45deg) translateX(8px) translateY(8px); /* Ajout de translateX */
}

.menu-open .bar2 {
  display: none; /* Pour masquer la barre du milieu */
}

.menu-open .bar3 {
  transform: translateY(-50%) rotate(-45deg) translateX(8px) translateY(-8px); /* Ajout de translateX */
}









/*si l'écran est en noir il inverse les couleurs*/
@media (prefers-color-scheme: white) {
  html {
    filter: invert(100%);
  }
}

/*Général*/

body {
  width: 100%;
  background-color: white;
  /*background-image: url("../Image/Logo_gris.png");
  background-repeat: no-repeat;*/
  margin: auto;
  padding: 0px;
}

header {
  background-color: #eeeeee;
  /*fond de la banière bleu foncé
  background-color: #2e75b6;
  */
  color: white;
  display: flex;
}

.Horaires {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

hr{
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 80%;
}

menu {
  width: 100%;
  margin: auto;
  justify-content: space-around;
  padding-inline-start: 0px;
}

.Menu1 {
  background-color: #7dbfeb;
  border: solid #c5e2f6 2px;
  border-radius: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-family: "Segoe UI";
}

p {
  font-family: "Calibri light";
  margin-top: 0px;
}

a:hover {
  text-decoration: none;
  color: #95d1cc;
}

.Menu1:hover {
  background-color: white;
  border: solid #4dbeec 2px;
  border-radius: 20px;
  text-align: center;
}

h1 {
  font-family: "Segoe UI";
}

article {
  height: 80%;
}

footer {
  margin-top: 10px;
  background-color: #eeeeee;
  text-align: center;
  /*couleur du texte dans le footer*/
  color: #2e75b6;
  width: 100%;
}

footer h1 {
  padding: 30px;
  font-size: 0.7em;
}

.ArticleCase {/*contient toute la case grise de l index*/
  max-width: 1100px;
  width: 90%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 20px;
  background-color: #eeeeee;
  border-radius: 20px;

  text-align: center;
}

.Menu0 {
  background-color: white;
  border: solid #4dbeec 2px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  color: #4dbeec;
}

.Photo_profil {
  width: 100px;
  height: auto;
  border-radius: 50%;
  /*border: solid 5px #2e75b6;*/
}

.Nom h1 {
  margin: 0px;
}

.Nom {
  width: 300px;
  font-size: 2em;
  text-decoration:underline;
  margin: 10px;
}

h2 {
  margin: 0px;
  font-size: 1em;
}
.ContainerAlignementMargin {
  padding: 20px;
  width: auto;
  max-width: 1100px;
  border-radius: 20px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #eeeeee;
}

.Center{
  text-align: center;
}

#CenterMap{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#ContainerGrisDirection{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ContainerGrisDirection img{
margin: 20px;
width: 90%;
max-width: 800px;
}

.NOMPHOTO {
  display: flex;
}

.AlignementDroite{
  display: flex;
  justify-content: flex-end;
}

.AlignementDroiteTexte{
text-align: end;
}


.RDV {
  text-align: center;
  background-color: white;
  color: black;
  padding: 30px;
  border-radius: 20px;
  display: flex;
}

.MainIndex { /*Contient les horaires et le texte sur l'index*/
  padding: 20px;
  width: auto;
  margin: auto;
  margin-bottom: 20px;
  display: block;
  max-width: 700px;
}

h3 {
  margin-bottom: 0px;
  text-decoration: underline ;
  margin-bottom: 10px;
}

.adresse {
  color: #2e75b6;
  display: flex;
  justify-content: center;
}

a.LP {
  background-color: #eeeeee;
  color: #4dbeec;
}

td,
tr {
  border: 1px solid black;
  font-family: "Segoe UI";
}

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  background-color: #2e75b6;
  color: white;
  font-family: "Segoe UI";
}

.Titre {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  margin-top: 5px;
}

/*.TITRE {
  dent aerts en fond blanc pour qu'il resorte
  background-color: white;
  border-radius: 20px;
  
}*/

.Bannière {
  z-index: 1;
  background-color: lightgrey;
}

.MAP {
  width: 90%;
  height: 90%;
  min-height: 300px;
}

li {
  font-family: "Segoe UI";
}

article img {
  width: 90%;
  height: auto;
  border: none;
  max-width: 700px;
}

.tel {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: white;
  border-radius: 50%;
}

.ContainerAlignementMargin h1{
  font-size: 1.7em;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5{
  font-family: "Segoe UI";
}

h4 {
  font-size: 0.9em;
}

h5{
  font-style: italic;
  font-size: 0.9em;
  margin-right: 5px;
  margin-top: 10px;
}

#CitGroupe{
  text-align: center;
}

#imageGroupe{
  border-radius: 10px;
  max-width: 200px;
  width: 60%;
}

#Ligne{
  width: 70%;
  border: solid black 5px;
  height: 5px;
}

/*taille d'écran*/

@media screen and (min-width: 2560px) {
  header {
    height: 100px;
    margin-bottom: 20px;
    width: 100%;
  }

  menu {
    display: flex;
    justify-content: center;
  }

  menu.menu-open section{
    display: flex;
    justify-content: center;
  }

  .Menu1 {
    width: 130px;
    padding: 20px;
    margin: 10px;
  }

  .Menu0 {
    width: 130px;
    padding: 20px;
    margin: 10px;
  }

  footer {
    height: 80px;
    width: 100%;
  }

  article {
    margin: 20px;
  }

  .Bannière {
    width: 65px;
    height: 65px;
    /*background-color: #2e75b6;*/
    border-radius: 50%;
    padding: 3px;
    margin: 10px;
  }

  .TITRE {
    /*taille du pour centrer la banière*/
    margin-left: -80px;
    height: 90px;
  }

  body {
    background-size: 1000px 1400px;
    background-position-y: 120px;
    background-position-x: 300px;
  }
}

@media screen and (max-width: 2560px) {
  header {
    height: 100px;
    margin-bottom: 20px;
    width: 100%;
  }

  menu {
    display: flex;
    justify-content: center;
  }

  menu.menu-open section{
    display: flex;
    justify-content: center;
  }

  .Menu1 {
    width: 130px;
    padding: 20px;
    margin: 10px;
  }

  .Menu0 {
    width: 130px;
    padding: 20px;
    margin: 10px;
  }

  footer {
    height: 80px;
    width: 100%;
  }

  article {
    margin: 20px;
  }

  .Bannière {
    width: 65px;
    height: 65px;
    /*background-color: #2e75b6;*/
    border-radius: 50%;
    padding: 3px;
    margin: 10px;
  }

  .TITRE {
    /*taille du logo pour centrer la banière*/
    margin-left: -80px;
    height: 90px;
  }

  body {
    background-size: 1000px 1400px;
    background-position-y: 120px;
    background-position-x: 300px;
  }
}

@media screen and (max-width: 1440px) {
  header {
    height: 100px;
    margin-bottom: 20px;
    width: 100%;
  }

  menu {
    display: flex;
    justify-content: center;
  }

  menu.menu-open section{
    display: flex;
    justify-content: center;
  }

  .Menu1 {
    width: 100px;
    padding: 20px;
    margin: 10px;
  }

  .Menu0 {
    width: 100px;
    padding: 20px;
    margin: 10px;
  }

  footer {
    height: 80px;
    width: 100%;
  }

  article {
    margin: 20px;
  }

  .Bannière {
    width: 65px;
    height: 65px;
    /*background-color: #2e75b6;*/
    border-radius: 50%;
    padding: 3px;
    margin: 10px;
  }

  .TITRE {
    /*taille du logo pour centrer la banière*/
    margin-left: -80px;
    height: 90px;
  }

  body {
    background-size: 1000px 1400px;
    background-position-y: 120px;
    background-position-x: 300px;
  }
}

@media screen and (max-width: 1024px) {
  header {
    height: 100px;
    margin-bottom: 20px;
    width: 100%;
  }

  menu {
    display: flex;
  }

  menu.menu-open section{
    justify-content: center;
    flex-wrap: wrap;
  }

  .Menu1 {
    width: 130px;
    padding: 20px;
    margin: 10px;
  }

  .Menu0 {
    width: 130px;
    padding: 20px;
    margin: 10px;
  }

  footer {
    height: 80px;
    width: 100%;
  }

  article {
    margin: 20px;
  }

  .Bannière {
    width: 65px;
    height: 65px;
    /*background-color: #2e75b6;*/
    border-radius: 50%;
    padding: 3px;
    margin: 10px;
  }

  .TITRE {
    /*taille du logo pour centrer la banière*/
    margin-left: -80px;
    height: 90px;
  }

  body {
    background-size: 1000px 1400px;
    background-position-y: 120px;
    background-position-x: 300px;
  }
}

@media screen and (max-width: 769px) {
  header {
    height: 100px;
    margin-bottom: 20px;
    width: 100%;
  }

  menu {
    flex-wrap: wrap;
  }

  menu.menu-open section{
    display: flex;
    justify-content: center;
  }

  .Menu1 {
    width: 140px;
    padding: 20px;
    margin: 10px;
  }

  .Menu0 {
    width: 140px;
    padding: 20px;
    margin: 10px;
  }

  footer {
    height: 80px;
    width: 100%;
  }

  article {
    margin: 20px;
  }

  .Bannière {
    width: 65px;
    height: 65px;
    /*background-color: #2e75b6;*/
    border-radius: 50%;
    padding: 3px;
    margin: 10px;
  }

  .TITRE {
    /*taille du logo pour centrer la banière*/
    margin-left: -91px;
    height: 90px;
  }

  body {
    background-size: 800px 1120px;
    background-position-y: 120px;
    background-position-x: 150px;
  }
}

@media screen and (max-width: 426px) {
  header {
    height: 80px;
    margin-bottom: 20px;
    width: 100%;
  }

  menu {
    flex-wrap: wrap;
  }

  menu.menu-open section{
    display: flex;
    justify-content: center;
  }

  .Menu1 {
    width: 110px;
    padding: 20px;
    margin: 10px;
  }

  .Menu0 {
    width: 110px;
    padding: 20px;
    margin: 10px;
  }

  footer {
    height: 80px;
    width: 100%;
  }

  article {
    margin: 20px;
  }

  .Bannière {
    width: 50px;
    height: 50px;
    /*background-color: #2e75b6;*/
    border-radius: 50%;
    padding: 3px;
    margin: 10px;
    /*bordure blanche autour du logo
    border: solid white 5px;
    */
  }

  .TITRE {
    /*taille du logo pour centrer la banière*/
    margin-left: -80px;
    height: 70px;
  }

  body {
    background-size: 500px 700px;
    background-position-y: 170px;
    background-position-x: 150px;
  }
}

@media screen and (max-width: 376px) {
  header {
    height: 60px;
    margin-bottom: 20px;
    width: 100%;
  }

  menu {
    flex-wrap: wrap;
  }

  menu.menu-open section {
    display: flex;
    justify-content: center;
  }

  .Menu1 {
    width: 100px;
    padding: 20px;
    margin: 10px;
  }

  .Menu0 {
    width: 100px;
    padding: 20px;
    margin: 10px;
  }

  footer {
    height: 80px;
    width: 100%;
  }

  article {
    margin: 20px;
  }

  .Bannière {
    width: 30px;
    height: 30px;
    /*background-color: #2e75b6;*/
    border-radius: 50%;
    padding: 3px;
    margin: 10px;
    /*bordure blanche autour du logo
    border: solid white 5px;
    */
  }

  .TITRE {
    /*taille du logo pour centrer la banière*/
    margin-left: -56px;
    height: 50px;
  }

  body {
    background-size: 500px 700px;
    background-position-y: 150px;
    background-position-x: 75px;
  }
}

@media screen and (max-width: 320px) {
  header {
    height: 50px;
    margin-bottom: 15px;
    width: 100%;
  }

  menu {
    flex-wrap: wrap;
  }

  menu.menu-open section {
    display: flex;
    justify-content: center;
  }

  .Menu1 {
    width: 100px;
    padding: 10px;
    margin: 5px;
  }

  .Menu0 {
    width: 100px;
    padding: 10px;
    margin: 5px;
  }

  footer {
    height: 80px;
    width: 100%;
  }

  article {
    margin: 20px;
  }

  .Bannière {
    width: 30px;
    height: 30px;
    /*background-color: #2e75b6;*/
    border-radius: 50%;
    padding: 3px;
    margin: 10px;
    /*bordure blanche autour du logo
    border: solid white 5px;
    */
  }

  .TITRE {
    /*taille du logo pour centrer la banière*/
    margin-left: -56px;
    height: 50px;
  }

  body {
    background-size: 500px 700px;
    background-position-y: 120px;
    background-position-x: 75px;
  }
}

.LinkGithubAndCopiright {
  color: #2e75b6;
}





/*--------------------------------*/
